debug: false

http:
  listen: "127.0.0.1:8080"
  workers: null

suggestion_providers: {}

redis:
  url: redis://127.0.0.1:6379

remote_settings:
  server: "https://firefox.settings.services.mozilla.com"

logging:
  levels: [INFO]
  format: compact

metrics:
  sink_host: "127.0.0.1"
  sink_port: 8125
  max_queue_size_kb: 32

sentry:
  mode: disabled

public_documentation: null

location:
  maxmind_database: null
