debug: false

http:
  listen: "127.0.0.1:8080"
  workers: null

providers:
  adm_rs:
    enabled: false
    storage_path: "./rs-cache"
    collection: "quicksuggest"
    cache: none
  wiki_fruit:
    enabled: false
    cache: none
  enable_debug_provider: false

redis_cache:
  url: null
  default_ttl_sec: 900 # 15 minutes

memory_cache:
  default_ttl_sec: 900 # 15 minutes
  cleanup_interval_sec: 300 # 5 minutes

logging:
  levels: [INFO]
  format: compact

public_documentation: null

location:
  maxmind_database: null
