http:
  # :0 binds to an arbitrary, OS-provided port to support running tests in
  # parallel
  listen: 127.0.0.1:0

redis:
  # This is the docker-compose provided server, in ./dev/.
  url: redis://localhost:6379

remote_settings:
  # This is the docker-compose provided server, in ./dev/.
  server: http://localhost:8888

metrics:
  sink_host: "0.0.0.0"
  sink_port: 8125

sentry:
  mode: local_debug

logging:
  levels:
    - DEBUG
